*{
    margin: 0;
    padding: 0;  
}
.cabecalho{
    background-color: #46a2da;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.escola{
    background-image: linear-gradient(#46a2da,#383d58);
   color:antiquewhite;  
   display: flex;
    justify-content: center;
    align-items: center;
}
.escola-conteuo{
    WIDTH: 35%;
}
.ecola-titulo{
    padding: 24px 0;
}